/* ========== Footer ========== */
.terms-and-conditions {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 48px;
}

.terms-and-conditions ul {
    display: flex;
    gap: clamp(0.5rem, 2vw, 2rem);
    list-style: none;
    justify-content: center;
    align-items: center;
}

.terms-and-conditions li a {
    color: black;
    font-family: 'Nunito Sans';
    text-decoration: none;
}